@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
$font-1:"Nunito", sans-serif;
$font-2:"Inter", sans-serif;
$white:#fff;
$black:#000;
$primary: #15ACFF;
$secondary: #050505;
$text:$white;
$heading: $white;
$border:#4B4B4B;
$bg:#16171B;
$_6B7A86: #6B7A86;
$btncolor1: #48C00E;
$btncolor2: #8726C2;
:root {
    scroll-behavior: auto !important;
}
